@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(203, 213, 225);
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(111, 202, 238);
}

a:hover:active {
    text-decoration: underline;
    text-decoration-color: rgb(111, 202, 238);
    color: rgb(111, 202, 238);
}

[aria-current="page"] {
    background-color: rgb(111, 202, 238);
    color: rgb(226 232 240);
    border-radius: 2px;
    padding: 2px 10px;
}

button:hover {
    background-color: rgb(111, 202, 238);
    color: rgb(148,163,184);
    cursor: pointer;
}